
.expencePieContainer{
  
  position: absolute;
  height: 50vh;
  width: 50vw;
  right: 0;
  top: 105vh;
  display: none;
 
}


.twoCharts{
  display: flex;
  justify-content: space-around;
  
 
}

.chartsPieWraper{
  width: 50vw;
}

.linearContainer{
  position: absolute;
  left: 5px;
  height: 530px;
  width:1000px;
  top: 5px;
  background-color: rgb(220, 205, 255);
  display: none;
  z-index: 2;
  
}
.averageLinearChartContainer{
  position: absolute;
  left: 0;
  width: 50vw;
  top: 185vh;
 
}
.informationDiv{
  position: absolute;
  right: 0;
  top: 185vh;
  width: 750px;
  height: 412px;
 background-color: #1f1f1f;
 padding: 20px;
 border-radius: 8px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 overflow: auto;
}

