.ExchangeWraper{
    position: relative;
    width: 100px;
    height: 50px;
}
#usd-eur{
    background-image: url(https://www.metalelokacyjne.pl/pol_il_Banknot-100-Euro-100-EUR-UNC-10982.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
#usd-pln{
    background-image: url(https://www.metalmarket.eu/data/gfx/pictures/medium/9/8/11089_1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
#usdToEur{
position: absolute;
top: 0;
}
#usdToMdl{
position: absolute;
top: 0;
}
#usdToPln{
position: absolute;
top: 0;  
}
#usd-mdl{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/MD_500_lei_av.jpg/1200px-MD_500_lei_av.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.balance-contaier{
   width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.balance-contaier:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 255, 0.9); /* Glow effect on hover */
  }

#usd-bank-curency{
    background-image: url(https://us.123rf.com/450wm/eugenebsov/eugenebsov2311/eugenebsov231100045/217615166-gold-dollar-vconcept-of-web-internet-currency-dollar-medal.jpg?ver=6);
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    margin-left: 6px;
    cursor: pointer;
   
}
#eur-bank-curency{
    background-image: url(https://img.freepik.com/darmowe-wektory/pieniadze-europejskie-zlota-moneta-na-ciemnym-tle_1017-51835.jpg?semt=ais_hybrid);
    background-size: contain;
    background-position: center;
    height: 50px;
    width: 50px;
    background-color: black;
    cursor: pointer;
   
}
#mdl-bank-curency{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB-ITHzbp75ICHryxQ_m6BbLi_BjkCiJYdsJXK43VxxVCvwfpfLvyB7uJcUzHMqKmKmTg&usqp=CAU);
    background-size: cover;
    height: 32px;
    width: 32px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
   
}
#pln-bank-curency{
    background-image: url(https://thumbs.dreamstime.com/b/gold-coin-zloty-concept-internet-web-currency-medal-297064252.jpg);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
   
}
.mobias{
    background-image: url(https://play-lh.googleusercontent.com/bg-VhuZhJDnq8_RFolfEH1lDAUc0CYOggn61meBWTSx-dBdlG6EMbJnctc_vKwNd2PI);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    
}
.Victoria{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdj6bP-ocSyheaRuMRbt_h-2p2IMDzIdlPw&s);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.pko{
    background-image: url(https://www.rudaslaskaplaza.pl/_cache/shops/510-255/fill/pko.png);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    
}
#actualMoney{
    background-color: rgb(4, 70, 80);
    color: rgb(0, 115, 128);
    font-weight: 900;
}
#actualMoney:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 255, 0.9); /* Glow effect on hover */
  }
  #graphButtons{
    position: absolute;
    right: 315px;
    width: 200px;
    height: 385px;
  }
  #graphLast{
    color: green;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #GraphLastOperation{
    color: white;
    position: absolute;
    top: 40px;
    right: 10px;
  
  }
  #graphLast2{
    color:red;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  #GraphLastOperation2{
    color: white;
    position: absolute;
    bottom: 40px;
    right: 10px;
  
  }
  #dayList{
    width: 800px;
    height: 385px;
    border: 1px solid red;
    overflow: auto;
  }
  #dayList div{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background-color: grey;
  }
