.ExchangeWraper{
    position: relative;
    width: 100px;
    height: 50px;
}
#usd-eur{
    background-image: url(https://www.metalelokacyjne.pl/pol_il_Banknot-100-Euro-100-EUR-UNC-10982.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
#usd-pln{
    background-image: url(https://www.metalmarket.eu/data/gfx/pictures/medium/9/8/11089_1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
#usdToEur{
position: absolute;
top: 0;
}
#usdToMdl{
position: absolute;
top: 0;
}
#usdToPln{
position: absolute;
top: 0;  
}
#usd-mdl{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/MD_500_lei_av.jpg/1200px-MD_500_lei_av.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.balance-contaier{
   width: 100%;
   height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.balance-contaier:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 255, 0.9); /* Glow effect on hover */
  }

#usd-bank-curency{
    background-image: url(https://us.123rf.com/450wm/eugenebsov/eugenebsov2311/eugenebsov231100045/217615166-gold-dollar-vconcept-of-web-internet-currency-dollar-medal.jpg?ver=6);
    background-size: contain;
    background-position: center;
    height: 35px;
    width: 35px;
    margin-left: 6px;
    cursor: pointer;
   
}
#eur-bank-curency{
    background-image: url(https://img.freepik.com/darmowe-wektory/pieniadze-europejskie-zlota-moneta-na-ciemnym-tle_1017-51835.jpg?semt=ais_hybrid);
    background-size: contain;
    background-position: center;
    height: 50px;
    width: 50px;
    background-color: black;
    cursor: pointer;
   
}
#mdl-bank-curency{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB-ITHzbp75ICHryxQ_m6BbLi_BjkCiJYdsJXK43VxxVCvwfpfLvyB7uJcUzHMqKmKmTg&usqp=CAU);
    background-size: cover;
    height: 32px;
    width: 32px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
   
}
#pln-bank-curency{
    background-image: url(https://thumbs.dreamstime.com/b/gold-coin-zloty-concept-internet-web-currency-medal-297064252.jpg);
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
   
}
.mobias{
    background-image: url(https://play-lh.googleusercontent.com/bg-VhuZhJDnq8_RFolfEH1lDAUc0CYOggn61meBWTSx-dBdlG6EMbJnctc_vKwNd2PI);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    
}
.Victoria{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZdj6bP-ocSyheaRuMRbt_h-2p2IMDzIdlPw&s);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.pko{
    background-image: url(https://www.rudaslaskaplaza.pl/_cache/shops/510-255/fill/pko.png);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    
}
#actualMoney{
    background-color: rgb(4, 70, 80);
    color: rgb(0, 115, 128);
    font-weight: 900;
}
#actualMoney:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 255, 255, 0.9); /* Glow effect on hover */
  }
  #graphButtons{
    position: absolute;
    right: 315px;
    width: 200px;
    height: 385px;
  }
  #graphLast{
    color: green;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #GraphLastOperation{
    color: white;
    position: absolute;
    top: 40px;
    right: 10px;
  
  }
  #graphLast2{
    color:red;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  #GraphLastOperation2{
    color: white;
    position: absolute;
    bottom: 40px;
    right: 10px;
  
  }
  #dayList{
    width: 800px;
    height: 385px;
    overflow: auto;
  }
  .dayContainer{
    margin-top: 10px;
    height: 45px;
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  .weekDayContainer{
    height: 45px;
    width: 45px;
    background-color: rgb(57, 101, 111);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border-radius: 10px;
 
  }
  .dayDate{
    height: 45px;
    width: 45px;
    background-color: rgb(25, 48, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 10px;
  }
 
  .usdCalc{
    background-color: green;
    border-radius: 5px;
    height: 45px;
    font-size: 13px;
    padding: 0 10px;

  }
  .eurCalc{
    background-color: rgb(128, 126, 0);
    height: 45px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 5px;
  }
  .plnCalc{
    background-color: rgb(0, 128, 128);
    height: 45px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 5px;
  }
  .mdlCalc{
    background-color: rgb(124, 128, 0);
    height: 45px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 5px;
  }
  #dayPopup{
    z-index: 2;
    display: none;
    background-color: rgb(27, 94, 104);
    position: absolute;
    top: 20vh;
    left: 1vw;
    width: 1400px;
    height: 560px;
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    font-family: Arial, sans-serif;
    flex-direction: column;
   
  }

.popup-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    font-size: 0.9em;
    overflow-y: auto;
}
.popup-content div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #444;
}

.popup-content div:last-child {
  border-bottom: none;
}

.popup-content span {
  font-weight: 600;
}

.expense-section {
  grid-column: span 2;
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #444;
}

.expense-section h3 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

.expenses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  max-height: 50px;
  overflow: auto;
}

.expenses div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.popup-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.popup-close {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.popup-close:hover {
  background-color: #ff2a2a;
}
 #dataInput{
  width: 50px;
 }

 .tooltip-item {
  position: relative;
  cursor: pointer;
  
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  
  transform: translateX(-50%);
  background-color: #333;
  color: rgb(183, 255, 0);
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  white-space: nowrap;
}

.tooltip-item:hover .tooltip {
  visibility: visible;
 
}
.tooltip:hover {
  border: 3px solid red;
  position: absolute;
  font-size: 12px;
  font-weight: 900;
  width: 150px;
  height: 150px;
  bottom: -70px;
  z-index: 7;
}
.goalToAcheve{
  background-color: red;
}

#ExpenseButton{
background-color: blue;
}
#IncomeButton{
background-color: blue;
}

